.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 16px dotted limegreen;
  animation: rotateLoader 1s infinite linear;
  will-change: rotate;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg) scale(0.7);
    border-width: 23px;
  }
  50% {
    transform: rotate(180deg) scale(1);
    border-width: 27px;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    border-width: 23px;
  }
}
